<h1>
  {{title}}
</h1>

<nav>
  <a [routerLink]="['/crisis-center']">Crisis Center</a>
  <a [routerLink]="['/heroes']">Heroes</a>
  <a [routerLink]="['/crisis-center/admin']">Crisis Admin</a>
  <a [routerLink]="['/signin']">Sign in</a>
</nav>

<div ngbDropdown>
  <button class="btn btn-primary-outline" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item">Action - 1</a>
    <a class="dropdown-item">Another Action</a>
    <a class="dropdown-item">Something else is here</a>
  </div>
</div>


<router-outlet></router-outlet>
